# Entorno (development|production|test)
NODE_ENV=
# Puerto de la aplicación
PORT=

# Configuración para desarrollo
DEV_DB_HOST=
DEV_DB_PORT=
DEV_DB_USER=
DEV_DB_PASSWORD=
DEV_DB_NAME=

# Configuración para producción (requerido cuando NODE_ENV=production)
PROD_DB_HOST=
PROD_DB_PORT=
PROD_DB_USER=
PROD_DB_PASSWORD=
PROD_DB_NAME=